# Version control and IDE
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/.project
**/.settings
**/.toolstarget
**/azds.yaml

# Build and test output
**/bin
**/obj
**/out
**/TestResults
**/TestResult*
**/Coverage
**/*.coverage
**/coverage.*
**/packages

# Secrets and env
**/.env
**/.env.*
**/secrets.dev.yaml
**/values.dev.yaml
**/appsettings.Development.json
**/appsettings.Local.json
**/appsettings.*.json
!**/appsettings.json

# Docs and misc (optional for image)
**/node_modules
**/npm-debug.log
**/docker-compose*
**/Dockerfile*
**/charts
**/*.dbmdl
**/*.jfm
LICENSE
README.md